.select-custom {
  width: 130px;
  height: 30px;
  border-radius: 7px;
  text-transform: uppercase;
  text-align: center;
  -webkit-appearance: button;
  appearance: button;
  outline: none; /*para quitar border al seleccionar*/
  background-color: rgb(238, 236, 236);
}

@media only screen and (min-width: 1500px) {
  .select-custom {
    width: 150px;
    height: 30px;
  }
}

select option {
  font-size: 13px;
  font-weight: bold;
  font-family: "M PLUS Code Latin";
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  background-color: rgb(238, 236, 236);
  /* background-color: #5aada8; */
}

.title-select {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: overline;
  line-height: 22px;

  color: #ffffff;
}
