.App {
  text-align: center;
}
.containerApp {
  width: 100%;
  height: 100%;
}
.containerApp-children {
  display: flex;
}
.container-left {
  flex: 1;
  /* background-color: red; */
}

.container-center {
  flex: 5;
  /* background-color: bisque; */
}

.container-right {
  flex: 1;
  /* background-color: pink; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerApp .scroll-to-top {
  background-color: #5aada781;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
  border: none;
  outline: none;
}

.scroll-to-top svg {
  fill: white;
  height: 20px;
}

/* Responsive*/
@media (max-width: 880px) {
  .container-center {
    width: 80%;
    /* background-color: gold; */
  }

  .container-right {
    width: 15%;
    /* background-color: pink; */
  }
}
